= link_to "Brand Team > ", team_members_path
= link_to @team_member.name, team_member_path(@team_member)
%br
%p#notice= notice

%h1= @team_member.name
%p
  = image_tag(@team_member.image_url().to_s, :class => "team_member")
%br
%p
  %strong Job title:
  = @team_member.job_title
%p
  %strong Email:
  = link_to @team_member.email, "mailto:" + @team_member.email
%p
  %strong= @team_member.description
%p{:align => "justify"}
  %strong Curriculum vitae:
  = @team_member.curriculum_vitae
