= link_to "Brand Team > ", team_members_path
= link_to @team_member.name, team_member_path(@team_member)
%br
%br

%h1= @team_member.name
%p{:class => "team_text"}
  = image_tag(@team_member.image_url().to_s, :class => "team_member")
%br
%p{:class => "team_text"}
  %strong Job title:
  = @team_member.job_title
%p{:class => "team_text"}
  %strong Email:
  = link_to @team_member.email, "mailto:" + @team_member.email
%p{:class => "team_text"}
  %strong= simple_format @team_member.description
%p{:align => "justify", :class => "team_text"}
  %strong Curriculum vitae:
  = @team_member.curriculum_vitae
