%p#notice= notice
%br
.post_title
  = @post.title
%br
%br
    
%div{:class => "post_page"}
  = image_tag(@post.image_url(:main).to_s, :class => "post_image")
  %div{:id => "post_tabs"}
    %ul
      %li
        %a{:href => "#tabs-1"}
          Attachments
          = image_tag("/images/attachment-icon.png", :size => "30x30")
    %div{:id => "tabs-1"}
      %ul{:class => "post_attachment_list"}
        - @post.attachments.each do |attachment|
          %li            
            = link_to attachment.title, attachment.file_url
      %div{:class => "clear"} <!-- -->
%div{:class => "post_text"}
  = raw (@post.text)
