%p#notice= notice

%h1
  = @gallery_image.title

%p
  %strong Gallery:
  = Gallery.find(@gallery_image.gallery).title
= image_tag @gallery_image.image_url(), :class =>"event_image"
%p
  = @gallery_image.text

- if can? :update, @gallery_image.gallery
  = link_to 'Edit', edit_gallery_gallery_image_path(@gallery_image.gallery, @gallery_image)
  
= link_to 'Back', gallery_gallery_images_path(@gallery_image.gallery)
