= form_for @gallery do |f|
  - if @gallery.errors.any?
    #error_explanation
      %h2= "#{pluralize(@gallery.errors.count, "error")} prohibited this gallery from being saved:"
      %ul
        - @gallery.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    %span{:class => "input_wrapper"}
      = f.text_field :title
  .field
    = f.label :description
    %span{:class => "input_wrapper"}
      = f.text_area :description
  .field
    = f.label :text
    %span{:class => "input_wrapper"}
      = f.text_area :text
  .actions
    %span{:class => "btn_wrapper"}
      = f.submit 'Save'
