= link_to @category.title + " > ", category_path(@category)
%p#notice= notice
%br
%br
%h1= @category.title
%div{:class => "category_header"}
  = image_tag(@category.image_url(:thumb).to_s, :class => "post_image")
  %p= simple_format @category.text
  %br
  %br
  %div{:class => "clear"} <!-- -->
%ul{:class => "category_posts_list"}
  - if params[:taxonomy].nil?
    - posts = @category.posts
  - else
    - taxonomy = params[:taxonomy]
    - posts = Post.where(category: @category, product_range_id: taxonomy) 
  - posts.each do | post |
    %li
      %div{:class => "category_posts_item"}
        %h2{:class => "category_posts_header"}= post.title
        %div{:class => "category_post_image"}
          = link_to image_tag(post.image_url(:thumb).to_s, :class => "category_posts_images"), post_path(post)
          %div{:class => "clear"} <!-- -->
        - if !post.product_range.nil?
          %p{:align => "justify"}
            %strong Product Range: 
            = post.product_range.name
        = simple_format post.description
        = link_to("More", post_path(post) )
        %div{:class => "clear"} <!-- -->
