%p
  %strong Region:
  = @promotion.region
%p
  %strong Brand:
  = @promotion.brand.name
%p
  %strong Promotion Category:
  = @promotion.promotion_category.name
%p
  %strong Currency:
  = @promotion.currency
%p
  %strong Budget amount:
  = @promotion.budget_amount
%p
  %strong Amount Requested:
  = @promotion.amount_requested
%p
  %strong Split:
  = number_to_percentage((@promotion.amount_requested.to_f / @promotion.budget_amount) * 100, precision: 0)
%p
  %strong Amount Reimbursed:
  = @promotion.amount_reimbursed
%p
  %strong Payment Status:
  = @promotion.promotion_payment_status
%p
  %strong Payment Date:
  = @promotion.payment_date
%p
  %strong Payment Reference:
  = @promotion.payment_reference
%p
  %strong Begin Date:
  = @promotion.start_date
%p
  %strong End Date:
  = @promotion.end_date
%p
  %strong Sales Volume:
  = @promotion.sales_volume
%p
  %strong Description:
  = @promotion.description
= link_to 'Edit', edit_promotion_path(@promotion)
\|
= link_to 'Back', promotions_path
